.link-container {
  a {
    color: rgba(0, 0, 0, 0.5);
  }
  text-align: center;
}

.kdi-form {
  fieldset {
    border: none;
    color: rgba(0, 0, 0, 0.65);
    max-width: 300px;
    margin: auto;
    line-height: 1.5em;
  }
}

.form-payment-management {
  fieldset {
    max-width: 270px;
  }
  span {
    min-width: 200px;
  }
  input {
    width: 16px;
    height: 16px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5)
  }
  label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2em;
    background: rgba(0,0,0,0.04);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

textarea {
  min-width: 100%;
  min-height: 150px;
}
